/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-dark-color: #1c304a;
  --main-light-color: #fafafa;
  --yellow-disc-color: #ffc736;
  --red-disc-color: #de0f3f;
}

/*--------------- Basic styling ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  justify-self: flex-end;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

/*--------------- Header ---------------*/

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--main-light-color);
}

.logo-link {
  display: flex;
  align-items: center;
  padding: .5em 0;
}

.logo-img {
  width: min(60vw, 15em);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-dark-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: min(95vw, 50em);
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-btn {
  border: none;
  padding: .5em 0;
  background-color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-btn.active {
  border-radius: 35px;
  padding: .4em;
  background-color: var(--main-light-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: var(--main-dark-color);
}

/*=============== Main ===============*/

/*--------------- Menu section ---------------*/

.menu-heading {
  margin: 1em auto;
}

.menu-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.menu-item {
  width: 12rem;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  width: 100%;
  padding: .5em 1em;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  transition: transform .3s ease-in-out;
}

.menu-btn:hover {
  transform: scale(1.1);
}

.btn-primary {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.str-text {
  text-transform: uppercase;
}

/*--------------- Settings section ---------------*/

.section {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--main-light-color);
}

.section.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting-fieldset {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  width: min(90vw, 25rem);
  padding: 1em;
}

.setting-legend {
  font-weight: 700;
  padding: 0 .5em;
}

.setting-label {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
  margin: .3em;
}

.setting-checkbox {
  position: absolute;
  opacity: 0;
}

.setting-slider {
  position: relative;
  justify-self: center;
  border-radius: 15px;
  width: 2.8rem;
  height: 1.8rem;
  background-color: var(--main-dark-color);
  cursor: pointer;
}

.setting-slider.colour {
  background-color: var(--yellow-disc-color);
}

.setting-slider::before {
  content: "";
  position: absolute;
  top: .25rem;
  left: .25rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.setting-checkbox:checked~.setting-slider::before {
  transform: translateX(calc(2.8rem - 1.3rem - .5rem));
}

.setting-checkbox:checked~.setting-slider.colour {
  background-color: var(--red-disc-color);
}

.setting-input {
  grid-column: span 3;
  border: none;
  border-bottom: 2px solid var(--main-dark-color);
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}