/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-dark-color: #1c304a;
  --main-light-color: #fafafa;
  --yellow-disc-color: #ffc736;
  --red-disc-color: #de0f3f;
  --overlay-color: #1c304a70;
}

/*--------------- Basic styling ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  justify-self: flex-end;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

/*=============== Header ===============*/

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px var(--overlay-color);
  border-bottom: 1px solid var(--main-dark-color);
  width: 100%;
  background-color: var(--main-light-color);
}

.logo-link {
  display: flex;
  align-items: center;
  border: none;
  width: 60vw;
  max-width: 16rem;
  padding: .8em 0;
  background-color: inherit;
  cursor: pointer;
}

.logo-img {
  width: 100%;
}

/* Responsive menu open/close icons */

.nav-toggle {
  position: absolute;
  top: 50%;
  right: 2vw;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-toggle-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle-btn {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50%) scale(1, 0);
  border: none;
  background-color: inherit;
  transition: .3s ease-in-out;
  transition-property: opacity, transform;
}

.nav-toggle-btn.active {
  opacity: 1;
  transform: translateY(-50%) scale(1, 1);
  transition: opacity .3s ease-in-out .3s;
}

.nav-toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-toggle-icon-path {
  fill: var(--main-dark-color);
}

/* Navigation menu (hidden by default on mobile) */

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 0);
  transform-origin: top;
  width: 100%;
  background-color: var(--main-dark-color);
  transition: transform .3s ease-in-out;
}

.nav.active {
  transform: scale(1, 1);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-btn {
  opacity: 0;
  border: none;
  padding: .5em 1em;
  background-color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--main-light-color);
  transition: opacity 1s ease-in-out, transform .3s ease-in-out;
}

.nav-btn.visible {
  opacity: 1;
}

.nav-btn.active {
  border-radius: 35px;
  background-color: var(--main-light-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: var(--main-dark-color);
}

.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*=============== Main ===============*/

/* Section Element */

.section {
  position: relative;
  display: none;
  width: 100%;
  padding: 1em 0;
  background-color: var(--main-light-color);
}

.section.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal overlay */

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-color);
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 95vw;
  max-width: 30rem;
  padding: 1em 2em;
  background-color: var(--main-light-color);
}

.alert-text {
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: center;
}

/* Button */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.btns .btn:first-of-type {
  margin-right: 1em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  padding: .5em 1em;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-dark-color);
  transition: transform .3s ease-in-out;
}

.btn-primary {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.btn:hover {
  transform: scale(1.1);
}

/* Text and email input */

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid var(--main-dark-color);
  width: 100%;
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

/*--------------- Home page (New Game page) ---------------*/

.main-heading {
  padding: 1em 1em 0;
}

.main-heading-title {
  font-family: 'Fredoka One', cursive;
  white-space: nowrap;
}

.setting-heading {
  display: none;
}

.setting-fieldset {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  width: 90vw;
  max-width: 25rem;
  padding: 1em;
}

.setting-legend {
  width: fit-content;
  padding: 0 .5em;
  font-weight: 700;
}

.setting-label:nth-of-type(-n+2) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
  margin-bottom: .5em;
}

.setting-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 1.5rem;
}

.setting-checkbox:focus-visible {
  outline: 2px solid var(--main-dark-color);
  outline-offset: .4rem;
}

.setting-slider {
  position: relative;
  justify-self: center;
  border-radius: 15px;
  width: 2.8rem;
  height: 1.8rem;
  background-color: var(--main-dark-color);
  cursor: pointer;
}

.setting-slider.colour {
  background-color: var(--yellow-disc-color);
}

.setting-slider::before {
  content: "";
  position: absolute;
  top: .25rem;
  left: .25rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.setting-checkbox:checked~.setting-slider::before {
  transform: translateX(calc(2.8rem - 1.3rem - .5rem));
}

.setting-checkbox:checked~.setting-slider.colour {
  background-color: var(--red-disc-color);
}

/*--------------- Play page ---------------*/

.section.game {
  min-height: 100%;
}

.board-header {
  grid-template-columns: 1fr 2rem;
  justify-content: center;
  width: 90vw;
  max-width: 40rem;
}

.current-player {
  font-size: 8vw;
  font-family: 'Fredoka One', cursive;
}

.volume-btns {
  justify-self: right;
  list-style: none;
}

.volume-btn {
  display: none;
  border: none;
  border-radius: 50%;
  width: 11vw;
  max-width: 3rem;
  height: 11vw;
  max-height: 3rem;
  padding: .6em;
  background-color: inherit;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.volume-btn:hover {
  background-color: var(--main-dark-color);
}

.volume-btn.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-icon {
  overflow: visible;
  width: 100%;
}

.volume-icon-path {
  fill: var(--main-dark-color);
  transition: .3s ease-in-out;
  transition-property: transform, fill;
}

.volume-btn:hover .volume-icon-path {
  transform: scale(1.2);
  transform-origin: center;
  fill: var(--main-light-color);
}

.game-tip {
  grid-column: span 2;
  margin: .5em auto;
  text-align: center;
}

.board-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1vw 2vw;
  border-radius: 10px;
  width: 90vw;
  max-width: 40rem;
  height: 84vw;
  max-height: calc(40rem - 3em);
  padding: .5em;
  background-color: var(--main-dark-color);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--main-light-color);
  cursor: pointer;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
}

.invisible {
  opacity: 0;
}

.yellow {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--yellow-disc-color);
  color: var(--main-dark-color);
}

.red {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--red-disc-color);
  color: var(--main-light-color);
}

.result {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.notification {
  margin: 1em;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.section.game>.btn {
  margin: 1.5em;
}

.landscape-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-color);
}

/*--------------- Help page ---------------*/

.help-article {
  margin: 1em;
  width: 95%;
  max-width: 48rem;
}

.help-heading {
  margin-bottom: .5em;
}

.help-rules {
  padding-left: 1em;
}

.help-keys {
  list-style-type: none;
}

.help-key-item {
  display: flex;
}

.key-icon {
  flex: 1;
  align-self: start;
  margin-right: .5em;
  max-width: 1.5rem;
}

.key-icon-path {
  fill: var(--main-dark-color);
}

.help-key-text {
  flex: 10;
}

/*--------------- Leaderboard page ---------------*/

.section.leaderboard {
  min-height: 100%;
}

.leaderboard-table {
  margin: 1em auto;
  width: 100%;
  max-width: 48rem;
}

.leaderboard-table-head {
  text-transform: uppercase;
}

.leaderboard-table-body {
  text-align: center;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: .5em 0;
}

.leaderboard-table-name {
  text-transform: capitalize;
}

/*--------------- Contact page ---------------*/

.contact>.heading {
  margin-bottom: 1em;
}

.contact-text {
  margin-bottom: 1em;
  width: 95%;
  max-width: 48rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 48rem;
}

.contact-label {
  margin-top: .5em;
  text-transform: uppercase;
}

.contact-message {
  margin-bottom: 1em;
  border: 2px solid var(--main-dark-color);
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

.contact-form>.btn {
  align-self: center;
}

/*--------------- Contact feedback(Success, Fail) page ---------------*/

.feedback-icon {
  margin-bottom: 1em;
  width: 5rem;
}

.feedback-icon-path {
  fill: var(--main-dark-color);
}

.feedback-text {
  padding: 0 1em;
  font-size: 1.2rem;
  text-align: center;
}

.feedback-text:nth-of-type(1) {
  margin-top: 1em;
}

.feedback-text:nth-of-type(2) {
  margin-bottom: 1em;
}

/*=============== Footer ===============*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: .5em;
  width: 100%;
  list-style: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 .5em;
  text-align: center;
}

.footer-link {
  margin-top: .5em;
  border: none;
  width: 2rem;
  background-color: inherit;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.footer-link:hover {
  transform: scale(1.1);
}

.footer-icon-path {
  fill: var(--main-light-color);
}

/*=============== 404 page ===============*/

.error-main {
  max-width: 60rem;
  padding: 1em 0;
}

.error-board {
  margin: 1.5em auto;
  max-width: 25rem;
  max-height: calc(25rem - 1.8em);
}

.error-board>.cell {
  cursor: auto;
}

.error-text {
  margin-bottom: 1em;
  width: 90vw;
  max-width: 25rem;
}

.dim-yellow,
.dim-red {
  opacity: 0.4;
}

.dim-yellow {
  background-color: var(--yellow-disc-color);
}

.dim-red {
  background-color: var(--red-disc-color);
  color: var(--main-light-color);
}

.blink1 {
  animation: blink linear 2s 1 1s;
}

.blink2 {
  animation: blink linear 2s infinite;
}

.blink3 {
  animation: blink linear 2s 1 2s;
}

/* Blinking effect */

@keyframes blink {

  0% {
    color: var(--main-light-color);
  }

  1% {
    background-color: var(--main-light-color);
  }

  20% {
    background-color: var(--main-light-color);
  }

  21% {
    background-color: var(--red-disc-color);
  }

  50% {
    background-color: var(--red-disc-color);
  }

  51% {
    background-color: var(--main-light-color);
  }

  69% {
    color: var(--main-light-color);
  }

  70% {
    background-color: var(--main-light-color);
  }

  71% {
    background-color: var(--yellow-disc-color);
    color: var(--main-dark-color);
  }

  100% {
    background-color: var(--yellow-disc-color);
    color: var(--main-dark-color);
  }
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/* Remove hover effect on touchscreen devices */

@media (hover: none) {

  .btn:hover,
  .nav-btn:hover,
  .volume-btn:hover,
  .footer-link:hover,
  .volume-btn:hover .volume-icon-path {
    transform: unset;
  }

}

/* Display mode recommendation message */

@media screen and (max-height: 53rem) and (orientation: landscape) {

  .landscape-overlay {
    display: flex;
  }

}

/* Remove animation on the 404 page for the user who has enabled reduced motion in their preferences  */

@media (prefers-reduced-motion: reduce) {

  .blink1,
  .blink2,
  .blink3 {
    animation: none;
  }

}

/*=============== Medium screen size devices from 37.5rem/600px width  ===============*/

@media screen and (min-width: 37.5rem) {

  /*--------------- Header ---------------*/

  .nav-toggle {
    display: none;
  }

  .nav {
    position: unset;
    transform: unset;
    transition: unset;
  }

  .nav-list {
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    max-width: 50em;
  }

  .nav-btn {
    opacity: 1;
  }

  /*--------------- Play page ---------------*/

  .current-player {
    font-size: 2.5rem;
  }

  .cell {
    font-size: 2.5rem;
  }

  /*--------------- Leaderboard page ---------------*/

  .leaderboard-table-head,
  .leaderboard-table-body {
    font-size: 1.2rem;
  }

  /*--------------- 404 page ---------------*/

  .error-board>.cell {
    font-size: 1.5rem;
  }

}

/*=============== Medium screen size devices from 46rem/736px width  ===============*/

@media screen and (min-width: 46rem) {

  /*--------------- Play page ---------------*/

  .board-grid {
    gap: .5em 1em;
  }

  /*--------------- 404 page ---------------*/

  .error-board {
    gap: .3em .6em;
  }

}

/*=============== Large screen size devices from 64rem/1024px width  ===============*/

@media screen and (min-width: 64rem) {

  /* Grid template for the Help and Contact page */

  .section.help.active,
  .section.contact.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 1em;
  }

  /*--------------- Help page ---------------*/

  .section.help {
    grid-template-areas:
      "heading heading"
      "objective keyboard"
      "rules keyboard"
      "rules points"
      "rules leaderboard";
    max-width: 87.5rem;
  }

  .help>.heading {
    grid-area: heading;
    align-self: center;
  }

  .help>.help-article {
    max-width: 30rem;
  }

  .help>.help-article:nth-of-type(1) {
    grid-area: objective;
    justify-self: end;
  }

  .help>.help-article:nth-of-type(2) {
    grid-area: rules;
    justify-self: end;
  }

  .help>.help-article:nth-of-type(3) {
    grid-area: keyboard;
  }

  .help>.help-article:nth-of-type(4) {
    grid-area: points;
  }

  .help>.help-article:nth-of-type(5) {
    grid-area: leaderboard;
  }

  /*--------------- Contact page ---------------*/

  .section.contact {
    grid-template-areas:
      "heading heading"
      "intro form";
  }

  .contact>.heading {
    grid-area: heading;
    align-self: center;
  }

  .contact>.contact-text {
    grid-area: intro;
    justify-self: right;
    max-width: 30rem;
  }

  .contact>.contact-form {
    grid-area: form;
    max-width: 30rem;
  }

  /*--------------- 404 page ---------------*/

  .error-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 4rem auto;
    grid-template-areas:
      "heading heading"
      "board text"
      "board button";
    align-items: start;
  }

  .error-main>.heading {
    grid-area: heading;
    align-self: center;
  }

  .error-board {
    grid-area: board;
    margin-top: 0;
  }

  .error-text,
  .error-main>.btn {
    justify-self: start;
  }

  .error-text {
    grid-area: text;
  }

  .error-main>.btn {
    grid-area: button;
  }

}