/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-dark-color: #1c304a;
  --main-light-color: #fafafa;
  --yellow-disc-color: #ffc736;
  --red-disc-color: #de0f3f;
  --overay-color: #1c304a70;
}

/*--------------- Basic styling ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

main {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  padding: 2em 0;
}

footer {
  justify-self: flex-end;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

/* Button */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  padding: .5em 1em;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.btn-primary {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.btn:hover {
  transform: scale(1.1);
}

/* Text and email input */

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid var(--main-dark-color);
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

/*=============== Header ===============*/

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--main-light-color);
}

.logo-link {
  display: flex;
  align-items: center;
  border: none;
  width: min(60vw, 18em);
  padding: .8em 0;
  background-color: inherit;
  cursor: pointer;
}

.logo-img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-dark-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: min(95vw, 50em);
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-btn {
  border: none;
  padding: .5em 0;
  background-color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-btn.active {
  border-radius: 35px;
  padding: .4em;
  background-color: var(--main-light-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: var(--main-dark-color);
}

/*=============== Main ===============*/

/*--------------- Menu section ---------------*/

.menu-heading {
  margin: 1em auto;
}

.menu-btns {
  flex-direction: column;
}

.menu-item {
  width: 12rem;
}

.menu-btn {
  flex-direction: column;
  width: 100%;
  text-transform: capitalize;
}

.str-text {
  text-transform: uppercase;
}

/*--------------- Settings section ---------------*/

.section {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow-y: auto;
  width: 100%;
  min-height: 100%;
  padding: 1em 0;
  background-color: var(--main-light-color);
}

.section.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.settings {
  z-index: 1;
}

.setting-fieldset {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  width: min(90vw, 25em);
  padding: 1em;
}

.setting-legend {
  font-weight: 700;
  padding: 0 .5em;
}

.setting-label {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
  margin: .3em;
}

.setting-checkbox {
  position: absolute;
  opacity: 0;
}

.setting-slider {
  position: relative;
  justify-self: center;
  border-radius: 15px;
  width: 2.8rem;
  height: 1.8rem;
  background-color: var(--main-dark-color);
  cursor: pointer;
}

.setting-slider.colour {
  background-color: var(--yellow-disc-color);
}

.setting-slider::before {
  content: "";
  position: absolute;
  top: .25rem;
  left: .25rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.setting-checkbox:checked~.setting-slider::before {
  transform: translateX(calc(2.8rem - 1.3rem - .5rem));
}

.setting-checkbox:checked~.setting-slider.colour {
  background-color: var(--red-disc-color);
}

.setting-input {
  grid-column: span 3;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overay-color);
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  width: min(95vw, 20em);
  padding: 1em 2em;
  background-color: var(--main-light-color);
}

.alert-text {
  font-weight: 700;
  text-align: center;
}

/*--------------- Game section ---------------*/

.section.game {
  z-index: 0;
}

.board-header {
  display: flex;
  justify-content: center;
  width: min(90vw, 50em);
}

.board-header .heading {
  flex: 1;
}

.volume-btns {
  justify-self: right;
  list-style: none;
}

.volume-btn {
  display: none;
  border: none;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  padding: .6em;
  background-color: inherit;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.volume-btn:hover {
  background-color: var(--main-dark-color);
}

.volume-btn.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-icon {
  overflow: visible;
}

.volume-icon-path {
  fill: var(--main-dark-color);
  transition: .3s ease-in-out;
  transition-property: transform, fill;
}

.volume-btn:hover .volume-icon-path {
  transform: scale(1.2);
  transform-origin: center;
  fill: var(--main-light-color);
}

.board-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(7, 1fr);
  gap: min(.5em, 1vw) min(1em, 2vw);
  margin-top: 2em;
  border-radius: 10px;
  width: min(90vw, 40em);
  padding: .5em;
  background-color: var(--main-dark-color);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--main-light-color);
  cursor: pointer;
  font-size: min(5vw, 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.invisible {
  opacity: 0;
}

.yellow {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--yellow-disc-color);
  color: var(--main-dark-color);
}

.red {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--red-disc-color);
  color: var(--main-light-color);
}

.modal {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  width: min(90vw, 25em);
  padding: 1em 2em;
  background-color: var(--main-light-color);
}

/*--------------- Help section ---------------*/

.help-article {
  margin: min(2.5vw, 1em);
  max-width: 48rem;
}

.help-heading {
  margin-bottom: .5em;
}

.help-rules {
  list-style-position: inside;
}

/*--------------- Leaderboard section ---------------*/

.leaderboard-table {
  margin: 1em auto;
  width: 100%;
  max-width: 48rem;
}

.leaderboard-table-head {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.leaderboard-table-body {
  font-size: 1.2rem;
  text-align: center;
}

.leaderboard-table-name {
  text-transform: capitalize;
}

.no-data-text {
  margin: 1em auto;
}

/*--------------- Contact form ---------------*/

.contact-text {
  max-width: 48rem;
  padding: min(2.5vw, 1em);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  max-width: 48rem;
  padding: min(2.5vw, 1em);
}

.contact-label {
  text-transform: uppercase;
}

.contact-message {
  border: 2px solid var(--main-dark-color);
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

/*--------------- Contact feedback(Success, Fail) section ---------------*/

.feedback-icon {
  margin-bottom: 1em;
  width: 5em;
}

.feedback-icon-path {
  fill: var(--main-dark-color);
}

.feedback-text {
  text-align: center;
}

.feedback-text:nth-of-type(1) {
  margin-top: 1em;
}

.feedback-text:nth-of-type(2) {
  margin-bottom: 1em;
}

/*=============== Footer ===============*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  width: 100%;
  padding: 1em 0;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding: 0 .5em;
  text-align: center;
}

.footer-link {
  border: none;
  width: 2em;
  background-color: inherit;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.footer-link:hover {
  transform: scale(1.1);
}

.footer-icon-path {
  fill: var(--main-light-color);
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/* remove hover effect on touchscreen devices */

@media (hover: none) {

  .btn:hover,
  .nav-btn:hover,
  .volume-btn:hover,
  .footer-link:hover,
  .volume-btn:hover .volume-icon-path {
    transform: unset;
  }
}

/*=============== Large screen size devices from 64rem/1024px width  ===============*/

@media screen and (min-width: 64rem) {

  /* Grid template for Help section and contact form */

  .section.help.active,
  .section.contact.active {
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    max-width: 87.5rem;
  }

  /*--------------- Help section ---------------*/

  .section.help {
    grid-template-areas:
      "heading heading"
      "objective points"
      "rules leaderboard"
      "button button";
  }

  .help>.heading {
    grid-area: heading;
    align-self: center;
  }

  .help>.help-article:nth-child(2) {
    grid-area: objective;
  }

  .help>.help-article:nth-child(3) {
    grid-area: rules;
  }

  .help>.help-article:nth-child(4) {
    grid-area: points;
  }

  .help>.help-article:nth-child(5) {
    grid-area: leaderboard;
  }

  .help>.btn {
    grid-area: button;
    justify-self: center;
    width: fit-content;
  }

  /*--------------- Contact form ---------------*/

  .section.contact {
    grid-template-areas:
      "heading heading"
      "intro form";
  }

  .contact>.heading {
    grid-area: heading;
    align-self: center;
  }

  .contact>.contact-text {
    grid-area: intro;
  }

  .contact>.contact-form {
    grid-area: form;
  }

}