/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-dark-color: #1c304a;
  --main-light-color: #fafafa;
  --yellow-disc-color: #ffc736;
  --red-disc-color: #de0f3f;
  --overay-color: #1c304a70;
}

/*--------------- Basic styling ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  justify-self: flex-end;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

/* Button */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  padding: .5em 1em;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.btn-primary {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.btn:hover {
  transform: scale(1.1);
}

/* Text and email input */

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid var(--main-dark-color);
  width: 100%;
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

/*=============== Header ===============*/

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px var(--overay-color);
  border-bottom: 1px solid var(--main-dark-color);
  width: 100%;
  background-color: var(--main-light-color);
}

.logo-link {
  display: flex;
  align-items: center;
  border: none;
  width: min(60vw, 18em);
  padding: .8em 0;
  background-color: inherit;
  cursor: pointer;
}

.logo-img {
  width: 100%;
}

/* Responsive menu open/close icons */

.nav-toggle {
  position: absolute;
  top: 50%;
  right: min(2vw, 1em);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-toggle-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle-btn {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50%) scale(1, 0);
  border: none;
  background-color: inherit;
  transition: .3s ease-in-out;
  transition-property: opacity, transform;
}

.nav-toggle-btn.active {
  opacity: 1;
  transform: translateY(-50%) scale(1, 1);
  transition: opacity .3s ease-in-out .3s;
}

.nav-toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-toggle-icon-path {
  fill: var(--main-dark-color);
}

/* Navigation menu (hidden by default on mobile) */

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 0);
  transform-origin: top;
  width: 100%;
  background-color: var(--main-dark-color);
  transition: transform .3s ease-in-out;
}

.nav.active {
  transform: scale(1, 1);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-btn {
  opacity: 0;
  border: none;
  padding: .5em 1em;
  background-color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--main-light-color);
  transition: opacity 1s ease-in-out, transform .3s ease-in-out;
}

.nav-btn.visible {
  opacity: 1;
}

.nav-btn.active {
  border-radius: 35px;
  background-color: var(--main-light-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: var(--main-dark-color);
}

.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*=============== Main ===============*/

/*--------------- Section Element ---------------*/

.section {
  position: relative;
  display: none;
  width: 100%;
  padding: 1em 0;
  background-color: var(--main-light-color);
}

.section.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------- Welcome message ---------------*/

.main-heading {
  padding-top: 1em;
}

/*--------------- Settings section ---------------*/

.setting-heading {
  display: none;
}

.setting-fieldset {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin: 1em auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
  width: min(90vw, 25em);
  padding: 1em;
}

.setting-legend {
  width: fit-content;
  padding: 0 .5em;
  font-weight: 700;
}

.setting-label:nth-of-type(-n+2) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
}

.setting-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 1.5rem;
}

.setting-checkbox:focus-visible {
  outline: 2px solid var(--main-dark-color);
  outline-offset: .4rem;
}

.setting-slider {
  position: relative;
  justify-self: center;
  border-radius: 15px;
  width: 2.8rem;
  height: 1.8rem;
  background-color: var(--main-dark-color);
  cursor: pointer;
}

.setting-slider.colour {
  background-color: var(--yellow-disc-color);
}

.setting-slider::before {
  content: "";
  position: absolute;
  top: .25rem;
  left: .25rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--main-light-color);
  transition: transform .3s ease-in-out;
}

.setting-checkbox:checked~.setting-slider::before {
  transform: translateX(calc(2.8rem - 1.3rem - .5rem));
}

.setting-checkbox:checked~.setting-slider.colour {
  background-color: var(--red-disc-color);
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overay-color);
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  width: min(95vw, 20em);
  padding: 1em 2em;
  background-color: var(--main-light-color);
}

.alert-text {
  font-weight: 700;
  text-align: center;
}

/*--------------- Game section ---------------*/

.board-header {
  grid-template-columns: 1fr min(11vw, 3rem);
  justify-content: center;
  width: min(90vw, 40rem);
}

.current-player {
  font-size: min(8vw, 2rem);
  font-family: 'Fredoka One', cursive;
}

.volume-btns {
  justify-self: right;
  list-style: none;
}

.volume-btn {
  display: none;
  border: none;
  border-radius: 50%;
  width: min(11vw, 3rem);
  height: min(11vw, 3rem);
  padding: .6em;
  background-color: inherit;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.volume-btn:hover {
  background-color: var(--main-dark-color);
}

.volume-btn.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-icon {
  overflow: visible;
  width: 100%;
}

.volume-icon-path {
  fill: var(--main-dark-color);
  transition: .3s ease-in-out;
  transition-property: transform, fill;
}

.volume-btn:hover .volume-icon-path {
  transform: scale(1.2);
  transform-origin: center;
  fill: var(--main-light-color);
}

.game-tip {
  grid-column: span 2;
  text-align: center;
}

.board-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(7, 1fr);
  gap: min(.5em, 1vw) min(1em, 2vw);
  border-radius: 10px;
  width: min(90vw, 40rem);
  padding: .5em;
  background-color: var(--main-dark-color);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--main-light-color);
  cursor: pointer;
  font-size: min(5vw, 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.invisible {
  opacity: 0;
}

.yellow {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--yellow-disc-color);
  color: var(--main-dark-color);
}

.red {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--red-disc-color);
  color: var(--main-light-color);
}

.modal {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  width: min(90vw, 25em);
  padding: 1em 2em;
  background-color: var(--main-light-color);
}

.landscape-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--overay-color);
}

/*--------------- Help section ---------------*/

.help-article {
  margin: min(2.5vw, 1em);
  width: 95%;
  max-width: 48rem;
}

.help-heading {
  margin-bottom: .5em;
}

.help-rules {
  padding-left: 1em;
}

.help-keys {
  list-style-type: none;
}

.help-key-item {
  display: flex;
  gap: .5rem;
}

.key-icon {
  flex: 1;
  max-width: 1.5rem;
}

.key-icon-path {
  fill: var(--main-dark-color);
}

.help-key-text {
  flex: 10;
}

/*--------------- Leaderboard section ---------------*/

.leaderboard-table {
  margin: 1em auto;
  width: 100%;
  max-width: 48rem;
}

.leaderboard-table-head {
  text-transform: uppercase;
}

.leaderboard-table-body {
  text-align: center;
}

.leaderboard-table-name {
  text-transform: capitalize;
}

.no-data-text {
  margin: 1em auto;
  font-size: 1.2rem;
}

/*--------------- Contact form ---------------*/

.contact-text {
  max-width: 48rem;
  padding: min(2.5vw, 1em);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  max-width: 48rem;
  padding: min(2.5vw, 1em);
}

.contact-label {
  text-transform: uppercase;
}

.contact-message {
  border: 2px solid var(--main-dark-color);
  background-color: inherit;
  font-size: 1rem;
  color: var(--main-dark-color);
}

.contact-form>.btn {
  align-self: center;
}

/*--------------- Contact feedback(Success, Fail) section ---------------*/

.feedback-icon {
  margin-bottom: 1em;
  width: 5em;
}

.feedback-icon-path {
  fill: var(--main-dark-color);
}

.feedback-text {
  text-align: center;
}

.feedback-text:nth-of-type(1) {
  margin-top: 1em;
}

.feedback-text:nth-of-type(2) {
  margin-bottom: 1em;
}

/*=============== Footer ===============*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  width: 100%;
  padding: 1em 0;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding: 0 .5em;
  text-align: center;
}

.footer-link {
  border: none;
  width: 2em;
  background-color: inherit;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.footer-link:hover {
  transform: scale(1.1);
}

.footer-icon-path {
  fill: var(--main-light-color);
}

/*=============== 404 page ===============*/

.error-main {
  gap: 1.5em;
  padding: 1em 0;
}

.error-board {
  margin-top: 0;
  width: min(90vw, 25rem);
}

.error-board>.cell {
  cursor: auto;
  font-size: min(5vw, 1.5rem);
}

.error-text {
  max-width: min(90vw, 25rem);
}

.dim-yellow,
.dim-red {
  opacity: 0.4;
}

.dim-yellow {
  background-color: var(--yellow-disc-color);
}

.dim-red {
  background-color: var(--red-disc-color);
  color: var(--main-light-color);
}

.blink1 {
  animation: blink linear 2s 1 1s;
}

.blink2 {
  animation: blink linear 2s infinite;
}

.blink3 {
  animation: blink linear 2s 1 2s;
}

/* Blinking effect */

@keyframes blink {

  0% {
    color: var(--main-light-color);
  }

  1% {
    background-color: var(--main-light-color);
  }

  20% {
    background-color: var(--main-light-color);
  }

  21% {
    background-color: var(--red-disc-color);
  }

  50% {
    background-color: var(--red-disc-color);
  }

  51% {
    background-color: var(--main-light-color);
  }

  69% {
    color: var(--main-light-color);
  }

  70% {
    background-color: var(--main-light-color);
  }

  71% {
    background-color: var(--yellow-disc-color);
    color: var(--main-dark-color);
  }

  100% {
    background-color: var(--yellow-disc-color);
    color: var(--main-dark-color);
  }
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/* Remove hover effect on touchscreen devices */

@media (hover: none) {

  .btn:hover,
  .nav-btn:hover,
  .volume-btn:hover,
  .footer-link:hover,
  .volume-btn:hover .volume-icon-path {
    transform: unset;
  }

}

/* Display mode recommendation message */

@media screen and (max-height: 53rem) and (orientation: landscape) {

  .landscape-overlay {
    display: flex;
  }

}

/* Remove animation on the 404 page for the user who has enabled reduced motion in their preferences  */

@media (prefers-reduced-motion: reduce) {

  .blink1,
  .blink2,
  .blink3 {
    animation: none;
  }

}

/*=============== Medium screen size devices from 37.5rem/600px width  ===============*/

@media screen and (min-width: 37.5rem) {

  /*--------------- Header ---------------*/

  .nav-toggle {
    display: none;
  }

  .nav {
    position: unset;
    transform: unset;
    transition: unset;
  }

  .nav-list {
    flex-direction: row;
    justify-content: space-between;
    width: min(95vw, 50em);
  }

  .nav-btn {
    opacity: 1;
  }

  /*--------------- Leaderboard section ---------------*/

  .leaderboard-table-head,
  .leaderboard-table-body {
    font-size: 1.2rem;
  }

}

/*=============== Large screen size devices from 64rem/1024px width  ===============*/

@media screen and (min-width: 64rem) {

  /* Grid template for the Help section and Contact section */

  .section.help.active,
  .section.contact.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  /*--------------- Help section ---------------*/

  .section.help {
    grid-template-areas:
      "heading heading"
      "objective keyboard"
      "rules points"
      "rules leaderboard";
    max-width: 87.5rem;
  }

  .help>.heading {
    grid-area: heading;
    align-self: center;
  }

  .help>.help-article:nth-of-type(1) {
    grid-area: objective;
  }

  .help>.help-article:nth-of-type(2) {
    grid-area: rules;
  }

  .help>.help-article:nth-of-type(3) {
    grid-area: keyboard;
  }

  .help>.help-article:nth-of-type(4) {
    grid-area: points;
  }

  .help>.help-article:nth-of-type(5) {
    grid-area: leaderboard;
  }

  /*--------------- Contact section ---------------*/

  .section.contact {
    grid-template-areas:
      "heading heading"
      "intro form";
  }

  .contact>.heading {
    grid-area: heading;
    align-self: center;
  }

  .contact>.contact-text {
    grid-area: intro;
    justify-self: right;
    max-width: 40rem;
  }

  .contact>.contact-form {
    grid-area: form;
    max-width: 40rem;
  }

  /*--------------- 404 page ---------------*/

  .error-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 3rem auto;
    grid-template-areas:
      "heading heading"
      "board text"
      "board button";
    align-items: start;
  }

  .error-main>.heading {
    grid-area: heading;
    align-self: center;
  }

  .error-board {
    grid-area: board;
    justify-self: end;
  }

  .error-text,
  .error-main>.btn {
    justify-self: start;
  }

  .error-text {
    grid-area: text;
  }

  .error-main>.btn {
    grid-area: button;
  }

}